<%# Copyright 2018 Tristan Robert

This file is part of ForemanProxmox.

ForemanProxmox is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ForemanProxmox is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ForemanProxmox. If not, see <http://www.gnu.org/licenses/>. %>

  <div id='network' class='fields'>
    <%= selectable_f_with_cache_invalidation f, :nic,
                     compute_resource.networks.map(&:id),
                     {  :include_blank => compute_resource.networks.any? ? false : _('No networks'),
                        :selected      => attribute_map[:network_selected]
                     },
                     {  :class         => 'span2',
                        :label         => _('Network')
                     },
                     {
                         :callback               => 'proxmoxPopulateNetworks',
                         :title                  => 'Refresh available networks',
                         :url                    => '/foreman_proxmox/cache/refresh',
                         :computer_resource_id   => compute_resource.id,
                         :attribute              => 'networks'
                     }
    %>
  </div>