<%# Copyright 2018 Tristan Robert

This file is part of ForemanProxmox.

ForemanProxmox is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ForemanProxmox is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ForemanProxmox. If not, see <http://www.gnu.org/licenses/>. %>

<div class="fields">
  <%= selectable_f_with_cache_invalidation f, :sr_uuid,
        proxmox_storage_pool_map(compute_resource),
        { :selected => attribute_map[:volume_selected] },
        { :class => "span2",
         :label => _("Storage Repository"),
        },
        {
           :callback               => 'proxmoxPopulateStoragePools',
           :title                  => 'Refresh available storage repositories',
           :url                    => '/foreman_proxmox/cache/refresh',
           :computer_resource_id   => compute_resource.id,
           :attribute              => 'storage_pools'
        }
  %>

  <%= text_f f, :physical_size, :class => "input-mini", :label => _("Size (GB)"), :value => attribute_map[:volume_size] %>
</div>